---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

When space debris, including satellite and abandoned rocket parts, comes back down to Earth, it doesn't always burn up entirely. My research identifies and quantifies the risks from this falling debris. 

It also, crucially, help identify ways of reducing these risks, including through international law and policy recommendations, and raising awareness through media outreach.

With more and more launches (and reentries) each year, the chance of casualties or disruption is increasing, and companies and governments should change their behaviour before an accident happens.

Most of my research is open access. 


{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



